body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #060606;
    color: white;
}
.wholepage{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.maincontent{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/* ------ */
/* HEADER */
/* ------ */
header{
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #131313;
    text-align: center;
    align-items: center;
    font-size: 125%;
}
#headerimg{
    margin-right: 1%;
    height: 90px;
    border-radius: 8px;
}

/* ---------- */
/* NAVIGASJON */
/* ---------- */
.navigation{
    position: relative;
    width: 100%;
    background-color: #1f1f1f;
}
.navigation ul {
    display: flex;
    flex-flow: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f1f1f;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}
.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navigation li a:hover {
    background-color: #060606;
}
#onpage{
    background-color: #004d45;
}

/* ------------- */
/* LAST OPP SIDE */
/* ------------- */
#box{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px;
    margin: 8px;
    margin-top: 16px;
    border-radius: 8px;
    background-color: #131313;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#fileupload{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}
#files{
    font-size: 100%;
    display: none;
}
.filestext{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110%;
    margin: 8px;
    padding: 8px;
    background-color: #393939;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.lastoppbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    padding: 8px;
    background-color: #393939;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    border: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#result{
    font-family: 'Open sans';
}
#uploadboxform{
    margin-top: 5%;
}
#uploadboxform button{
    font-size: 100%;
}
#box p{
    font-size: 110%;
    margin: 0px
}
#touploadbutton{
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 110%;
}

/* ----- */
/* LOGIN */
/* ----- */

#loginbutton{
    position: absolute;
    left: 93%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}
#loginbutton img{
    height: 25px;
    width: 25px;
}
#logintext{
    color: white;
    text-decoration: none;
    margin-left: 15%;
}
#username, #password{
    font-family: 'Open sans';
    margin: 8px 4px 8px 4px;
    padding: 8px;
    border-radius: 8px;
    border: 0px;
    background-color: #393939;
    color: white;
    font-size: 80%;
    font-family: 'Lato';
    transition-duration: 200ms;
    transition-property: background-color;
}
#user_username{
    font-size: 110%;
}
#box h2{
    margin: 8px;
}
#box{
    font-size: 150%;
}
#submitlogin{
    font-size: 115%;
    margin: 16px;
}
#rememberme{
    margin: 0px;
    margin-right: 8px;
}
#box label{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    font-family: 'Open sans';
}
#registerbutton{
    margin-top: 8px;
    font-size: 175%;
}
#loginform{
    display: flex;
    flex-flow: column;
    margin: 8px;
    font-family: 'Open sans';
}
.responseDiv{
    font-family: 'Open sans';
}
#accounttext{
    margin-left: 10%;
}
.changepasswordbutton{
    margin-bottom: 8px;
}
.dropdownelement{
    display: none;
    position: absolute;
    z-index: 1;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdownelement a{
    color: white;
    text-decoration: none;
    display: block;
    background-color: red;
    padding: 4px;
    border-radius: 8px;
    font-size: 85%;
}
#loginbutton:hover .dropdownelement {
    display: block;
}

.loginbuttonline1{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-items: center;
}
.dropdown{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22%;
}
.filesDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: #2c2c2c;
    padding: 8px;
    margin: 8px;
    margin-top: 16px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#files_result{
    margin: 0px;
}
.fileDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    background-color: #393939;
    padding: 16px;
    margin: 8px;
    border-radius: 8px;
    font-size: 150%;
    font-family: 'Open sans';
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: fit-content;
}
.fileDiv p{
    margin: 0px;
    font-size: 115%;
    font-family: 'Open sans';
    margin-right: 4px;
}
.fileDivButton {
    background-color: #454545;
    border: 0px;
    color: white;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 100%;
    font-family: 'Open sans';
    margin-left: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition-duration: 200ms;
    transition-property: background-color font-size;
}
.fileDivButton:hover {
    background-color: #525252;
}

.marginright{
    margin-right: 6px;
}
.margintop{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}
.red{
    color: red;
}
.green{
    color: lime;
}
.blue{
    color: rgb(0, 102, 255);
}
.fileDivButtons{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.fileicon{
    margin-right: 8px;
}
#mediaOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#videoPlayer, #imageViewer {
    display: none;
    max-width: 90%;
    max-height: 90%;
}

#closeOverlay {
    font-size: 2em;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 0.5em 1em;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1100;
}

#closeOverlay:hover {
    background: rgba(0, 0, 0, 0.8);
}
#oldpassword, #newpassword{
    margin-bottom: 8px;
    width: 80%;
    font-size: 95%;
    font-family: 'Open sans';
    padding: 8px;
    border-radius: 8px;
    border: 0;
    background-color: #393939;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition-duration: 200ms;
    transition-property: background-color;
}

#oldpassword:hover, #newpassword:focus, #newpassword:hover, #oldpassword:focus, #username:hover, #password:focus, #username:focus, #password:hover{
    background-color: #454545;
}
#changepasswordform{
    flex-flow: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 4vw;
    margin-left: 4px;
}
.faq{
    background-color: #131313;
    border-radius: 8px;
    padding: 4px;
    margin: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 100%;
    font-family: 'Open sans';
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.faq p a:link, .faq p a:visited{
    color: white;
}
.file{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
    margin: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 100%;
    font-family: 'Open sans';
    color: white;
    background-color: #2c2c2c;
    text-align: center;
}
.user-files{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 4px;
    margin: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 100%;
    font-family: 'Open sans';
    color: white;
    background-color: #1a1a1a;
    text-align: center;
}
.deletebuttonadmin{
    border: 0;
    background-color: #004d45;
    color: white;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 8px;
    font-size: 100%;
    font-family: 'Open sans';
    transition-duration: 200ms;
    transition-property: background-color;
}
.deletebuttonadmin:hover, .deletebuttonadmin:focus{
    background-color: #005f5b;
}
@media only screen and (max-width: 400px) {
    #loginbutton {
        left: 85%; /* Adjust based on your specific design */
        font-size: 80%; /* Smaller font size on smaller screens */
    }
    header {
        flex-flow: column;
    }
    h1{
        margin-left: 0px;
        font-size: 85%;
    }
    #headerimg{
        margin-right: 0px;
    }
}
@media only screen and (min-width: 900px) {
    h1{
        font-size: 175%;
    }
}

/* ------- */
/* BUTTONS */
/* ------- */

.button1{
    border: 0;
    background-color: #004d45;
    color: white;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
.button2{
    border: 0;
    background-color: #004d45;
    color: white;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 115%;
}
.button3{
    border: 0;
    background-color: red;
    color: white;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 115%;
    margin-bottom: 8px;
}
#closeOverlay {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}
#responseDiv{
    font-family: 'Open sans';
}
/* ---- */
/* FONT */
/* ---- */
@font-face {
    font-family: 'Open sans';
    src: url(/src/fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'Open sans light';
    src: url(/src/fonts/Open_Sans/OpenSans-Light.ttf);
}
@font-face {
    font-family: 'Lato';
    src: url(/src/fonts/Lato/Lato-Regular.ttf);
}
h1, h2, p{
    font-family: 'Open sans';
}
a{
    font-family: 'Open sans light';
}